body {
    font-family: 'Roboto', sans-serif;
}

.background {
    background: url('acollectivebanner.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* 100% */
    height: 100vh; /* 100% */
    z-index: -1;
    opacity: 0.25;
}

:root {
    --primary-color: #4a90e2;
    --secondary-color: #357ABD;
    --light-bg: #f8f9fa;
}

.navbar {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

footer {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.section-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}